---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<article class="flex flex-col gap-2 justify-center items-center text-center w-[300px] bg-gray-50 shadow-lg p-5 rounded-lg">
  <slot />
  <h4 class="text-xl font-semibold">{title}</h4>
  <p class=" text-sm text-slate-800  text-center">{text}</p>
</article>
