---
import Container from "../../layouts/Container.astro";
---

<Container>
  <section
    class="flex flex-col md:flex-row gap-10 justify-start items-center mt-20 mb-10"
  >
    <article>
      <img class="rounded-lg" src="secureVehicle.webp" alt="auto seguro" />
    </article>
    <article class="flex justify-start gap-5 flex-col">
      <h4 class="text-5xl">Seguridad ante todo</h4>
      <p class="text-2xl text-gray-800">
        Para brindarte tranquilidad, todos los alquileres están asegurados por
        RIMAC, monitoreados por GPS y los viajeros pasan por un riguroso filtro
        de seguridad.
      </p>
    </article>
  </section>
</Container>
