---
import Container from "../../layouts/Container.astro";
---

<Container>
  <section
    class="flex flex-col md:flex-row gap-10 justify-center items-center mt-10 mb-10"
  >
    <figure>
      <img class="rounded-lg" src="segure.webp" alt="auto seguro" />
    </figure>
    <article class="flex justify-start gap-5 flex-col">
      <h4 class="text-4xl font-semibold">Seguridad ante todo</h4>
      <p class="text-md text-gray-800">
        Para brindarte tranquilidad, todos los alquileres están asegurados por
        RIMAC, monitoreados por GPS y los viajeros pasan por un riguroso filtro
        de seguridad.
      </p>
    </article>
  </section>
</Container>
