---
import Container from "../../layouts/Container.astro";
---

<Container>
    <section class="flex flex-col md:flex-row w-full items-center flex-wrap">
        <article class="w-1/2 flex flex-col justify-center items-center gap-3">
          <h4 class="text-3xl font-semibold">Nuestro equipo</h4>
          <p class="md:text-center text-justify w-full">
            Conformado por talentosos profesionales, une habilidades
            para lograr resultados excepcionales. Fomentamos un ambiente de respeto,
            confianza y colaboración. Alentamos el intercambio de ideas y la
            resolución creativa de problemas. Trabajamos hombro con hombro,
            compartiendo conocimientos y respaldándonos mutuamente. Nos enorgullece
            la dedicación y pasión de nuestro equipo.
          </p>
        </article>
        <figure class="">
          <img src="team.png" alt="team up" width="600px"/>
        </figure>
      </section>
</Container>
