---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Principal from "../components/Principal.astro";
import Opinions from "../components/Opinions.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio - AYA RENTAL">
  <Banner />
  <div class="full-screen">
    <Principal />
  </div>
  <Opinions />
  <Footer/>
</Layout>

<style>
  .full-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
