---
import Layout from "../layouts/Layout.astro";
---
<style>
    .animate-left {
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .animate-right {
        transform: translateX(100%);
        transition: transform 1s;
    }

    .visible {
        transform: translateX(0);
    }
</style>
<Layout title="Nosotros">
    
        <div class="flex flex-col justify-center items-center min-h-screen p-2">
    <h1 class="text-5xl font-extrabold dark:text-white text-center mb-4">
        HOLA, SOMOS AYA
        <span class="bg-blue-100 text-blue-800 text-2xl font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2">Rental</span>
    </h1>
    <p class="text-lg text-center max-w-2xl mb-8">
        Somos una empresa de movilidad especializada en comparar alquiler de vehículos sin conductor entre diferentes compañías, para ofrecerte la mejor oferta. Nos gusta el espíritu aventurero de la gente, por eso queremos ayudarte a elegir la mejor opción de alquiler para tu viaje. Siempre al mejor precio y con la transparencia que nos caracteriza, con el fin de hacerte la vida más fácil.
    </p>
</div>
<div class="flex justify-center items-center min-h-screen p-2">
    <div id="mission" class="animate-left" style="padding-right: 2rem;">
        <h2 class="text-4xl font-bold mb-4">Nuestra Misión</h2>
        <p class="text-lg max-w-md">
            Proveer las mejores opciones de alquiler de vehículos, garantizando la satisfacción y comodidad de nuestros clientes en cada viaje.
        </p>
    </div>
    <div class="w-1/3 ml-8" style="padding-left: 2rem;">
        <img src="/public/AUTOAZUL.png" alt="Auto" class="w-full">
    </div>
</div>

<div class="flex justify-center items-center min-h-screen p-2">
    <div class="w-1/3 mr-8" style="padding-right: 2rem;">
        <img src="/public/AUTOBLANC.png" alt="Auto" class="w-full">
    </div>
    <div id="vision" class="animate-right" style="padding-left: 2rem;">
        <h2 class="text-4xl font-bold mb-4">Nuestra Visión</h2>
        <p class="text-lg max-w-md">
            Ser la empresa líder en alquiler de vehículos, reconocida por nuestra excelencia en servicio y la satisfacción de nuestros clientes.
        </p>
    </div>
</div>
        <div class="text-center mt-10">
            <h2 class="text-4xl font-bold mb-8">NUESTRO EQUIPO</h2>
            <div class="flex justify-center">
                <div class="flex items-center space-x-8">
                    <div class="relative cursor-pointer transform transition-transform hover:scale-110 hover:rotate-12">
                        <img src="/public/usuario1.webp" alt="Persona 1" class="w-20 h-20 rounded-full mb-2">
                        <p>Brady lopez</p>
                    </div>
                    <div class="relative cursor-pointer transform transition-transform hover:scale-110 hover:rotate-12">
                        <img src="/public/usuario2.webp" alt="Persona 2" class="w-20 h-20 rounded-full mb-2">
                        <p>Pilar Mitma</p>
                    </div>
                    <div class="relative cursor-pointer transform transition-transform hover:scale-110 hover:rotate-12">
                        <img src="/public/usuario3_1.webp" alt="Persona 3" class="w-20 h-20 rounded-full mb-2">
                        <p>Bryan Cardenas</p>
                    </div>
                    <div class="relative cursor-pointer transform transition-transform hover:scale-110 hover:rotate-12">
                        <img src="/public/usuario1.webp" alt="Persona 4" class="w-20 h-20 rounded-full mb-2">
                        <p>Percy Conde</p>
                    </div>
                    <div class="relative cursor-pointer transform transition-transform hover:scale-110 hover:rotate-12">
                        <img src="/public/usuario2.webp" alt="Persona 5" class="w-20 h-20 rounded-full mb-2">
                        <p>Mavel Trejo</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br><br>
    
        <script>
            document.addEventListener('scroll', function () {
                const mission = document.getElementById('mission');
                const vision = document.getElementById('vision');
                const scrollPosition = window.scrollY + window.innerHeight;
    
                if (scrollPosition > mission.offsetTop + mission.offsetHeight / 2) {
                    mission.classList.add('visible');
                }
    
                if (scrollPosition > vision.offsetTop + vision.offsetHeight / 2) {
                    vision.classList.add('visible');
                }
            });
        </script>
    
</Layout>
