---
import Layout from "../layouts/Layout.astro";
---
<Layout title="sercicios">

    <h2>Servicios</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis error, minima pariatur accusamus ipsum repellendus eum aperiam, eos dolorum dolore quisquam sed consectetur, optio tenetur ex ad officia recusandae saepe?</p>

</Layout>