<div class="card w-96 bg-gray-100 shadow-xl mt-5 mb-5">
  <figure>
    <img
      src="https://www.topgear.com/sites/default/files/2023/07/24Mustang_Media_drive%20LA_23.jpg"
      alt="Shoes"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-gray-700">Ford Mustang</h2>
    <span class="badge badge-sm badge-accent text-gray-700">Disponible</span>
    <p class="text-gray-600 text-sm mb-2">
      Experimenta la emoci칩n al volante de un ic칩nico Ford Mustang. Disfruta de
      su potente motor y su dise침o deportivo durante tus aventuras por la
      ciudad.
    </p>
    <p class="text-gray-800">
      Desde: S/310<span class="text-sm text-primary font-bold">/dia</span>
    </p>
    <div class="card-actions">
      <button
        class="px-3 py-2 rounded rounded-r-lg hover:bg-gray-300 bg-gray-200 text-gray-700 text-[13px]"
        >ver m치s</button
      >
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-accent">Quiero reservar</button>
    </div>
  </div>
</div>
