---
import Seguridad from "./sections/Seguridad.astro";
import Container from "../layouts/Container.astro";
import CardInfo from "./sections/CardInfo.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import ClockIcon from "../icons/ClockIcon.astro"
import CheckIcon from "../icons/CheckIcon.astro"
---

<Container>
  <Seguridad />
  <div class="flex justify-center flex-wrap gap-5">
    <CardInfo
      title="Encuentra el auto perfecto"
      text="Registrate solo por una vez y explora los autos compartidos por anfitriones locales."
    >
      <SearchIcon />
    </CardInfo>
    <CardInfo
      title="Elige y reserva"
      text="Reserva la fecha y el auto que deseas. Saluda a tu anfitrión para coordinar la entrega de las llaves."
    >
      <ClockIcon />
    </CardInfo>
    <CardInfo
      title="Disfruta tu viaje"
      text="Un viaje se mide mejor en experiencias que en kilómetros"
    >
      <CheckIcon />
    </CardInfo>
  </div>
</Container>
